__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Data and generated artifacts
data/**
!data/
!data/**/
!data/**/README.md
!data/**/.gitkeep

artifacts/**
!artifacts/
!artifacts/**/
!artifacts/**/README.md
!artifacts/**/.gitkeep
