__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Data and generated artifacts
data/**
!data/**/README.md
artifacts/**
!artifacts/**/README.md
*.csv
!.github/**
.pytest_cache/
